/*** FONTS SET ***/
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

.fit_model_btn_icon {
  color: green;
}

/****TITLES FONT ****/
h1 {
    font-family: 'Montserrat-Bold',sans-serif;
    text-align: center;
    color: #6C5B7B;
}
h3 {
    font-family: 'Montserrat-Bold',sans-serif;
    text-align: center;
    color: #6C5B7B;
}

h4 {
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 2rem;
    color: #6C5B7B;
}

h5 {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 1.9rem;
    text-align: center;
}

p{
  font-family: 'Montserrat-Regular' sans-serif;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  background-image: url('images/v2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ececec;
}


.modal-content{
  background-color: #d6d6d6;
}

#point_vulture{
  font-family: 'Montserrat-Bold',sans-serif;
  background-color: #6C5B7B80;
  font-size: 3rem;
  border: 0px solid white;
  color: white;
}
#point_vulture:hover{
  background-color: #6C5B7B;
}

/*Upload image progress*/
.progress-bar {
  color: #fff;
  background-color: #6C5B7B;
}

/*Process button*/
#process_seg{
  font-family: 'Montserrat-Bold',sans-serif;
  background-color: #6C5B7B;
  font-size: 1.5rem;
  border: 0px solid white;
  color: white;
}

#process_seg:hover{
  background-color: #6C5B7B99;
}

/*Save*/
#download_detect_df{
  font-family: 'Montserrat-Bold',sans-serif;
  background-color: #6C5B7B;
  font-size: 1.5rem;
  border: 0px solid white;
  color: white;
}

#download_detect_df:hover{
  background-color: #6C5B7B99;
}